html {
	cursor: url(imagens/mata_mosca.png) 30 30, auto;
}
body {
	/* Imagem de fundo */
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	/* Ajustando imagem para resposivo */
	background-size: 220vmin;
}

.mosquito1 {
	width: 50px;
	height: 50px;
}

.mosquito2 {
	width: 70px;
	height: 70px;
}

.mosquito3 {
	width: 90px;
	height: 90px;
}

/* transform permite modificar o espaço coordenado do modelo de formatação CSS */
.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-topo:solid 1px #fff;
	background-color: #fff;
	/* opacity para deixar a imagem de fundo um pouco visivel */
	opacity: 0.7
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.placar{
	font-size: 23px;
	color: white;
	width: 200px;
	padding: 10px;
	border-radius: 3px;
}